## Account settings
set from = tanneberger@srz.lernsax.de
set realname = "Tassilo Tanneberger"

set mbox_type = Maildir
set folder = "~/.mail/srz"

set sendmail = "msmtp -a srz"

# cache settings
set header_cache = "~/.cache/mutt/srz/header_cache"
set message_cachedir = "~/.cache/mutt/srz/message_cache"

# mailbox settings
set spoolfile = +Inbox
set postponed = +Drafts
set record = +Sent
set trash = +Trash

set signature = "~/.config/neomutt/signatures/tanneberger@srz.lernsax.de"

# synchronization settings ['s' to sync]
macro index S "<shell-escape>mbsync -V srz <enter>" "sync email"

